////
/// @author Jasper Berghoef
/// @group Container
////


/// @example markup
///   <div class="container"></div>
///
.container {
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 calc(#{$spacer} * 2);
  max-width: 100%;

  @each $name, $value in $breakpoint {
    @include breakpoint-up($name) {
      max-width: map-get($container, $name);
    }
  }

  /// @example markup
  ///   <div class="container -fluid"></div>
  ///
  &.-fluid {
    max-width: unset;
  }
}
