////
/// @author Jasper Berghoef
/// @group Grid
////


/// @example markup
/// <div class="grid__item"></div>
///
.grid__item {
  /// @example markup
  /// <div class="grid__item -col-2-3 -col-xl-2-6"></div>
  /// <div class="grid__item -col-start-2 -col-lg-start-3 -col-end-3 -col-lg-end-4"></div>
  ///
  &.-col {
    @include breakpoint-each() {
      @for $i from 1 through $col-range {
        &-start-#{$i} {
          grid-column-start: $i;
        }
      }

      @for $i from 1 through $col-range + 1 {
        &-end-#{$i} {
          grid-column-end: $i;
        }
      }

      @for $c1 from 1 through $col-range {
        @for $c2 from 2 through $col-range {
          @if $c1 < $c2 {
            &-#{$c1}-#{$c2} {
              grid-column: #{$c1} / span #{$c2};
            }
          }
        }
      }
    }
  }

  /// @example markup
  /// <div class="grid__item -row-1-2 -row-lg-1-4"></div>
  /// <div class="grid__item -row-start-1 -row-xl-start-2 -row-end-2 -row-xl-end-3"></div>
  ///
  &.-row {
    @include breakpoint-each() {
      @for $i from 1 through $row-range {
        &-start-#{$i} {
          grid-row-start: $i;
        }
      }

      @for $i from 1 through $row-range + 1 {
        &-end-#{$i} {
          grid-row-end: $i;
        }
      }

      @for $r1 from 1 through $row-range {
        @for $r2 from 2 through $row-range {
          @if $r1 < $r2 {
            &-#{$r1}-#{$r2} {
              grid-row: #{$r1} / span #{$r2};
            }
          }
        }
      }
    }
  }
}
