////
/// @author Jasper Berghoef
/// @group Grid
////


/// @see $col-range
/// @see $col-definition
/// @see $col-gap
/// @see $row-range
/// @see $row-definition
/// @see $row-gap
/// @example markup
///   <div class="grid"></div>
///
.grid {
  display: grid;
  grid-template-columns: repeat($col-range, $col-definition);
  grid-auto-columns: $col-definition;
  grid-template-rows: auto;
  grid-auto-rows: $row-definition;
  grid-column-gap: $col-gap;
  grid-row-gap: $row-gap;

  /// @example markup
  ///   <div class="grid -inline"></div>
  ///
  &.-inline {
    display: inline-grid;
  }

  /// @example markup
  ///   <div class="grid -blank"></div>
  ///
  &.-blank {
    grid-template-columns: unset;
    grid-template-rows: unset;
  }

  /// @see $gap-range
  /// @see $spacing
  /// @example markup
  ///   <div class="grid -col-gap-1 -col-gap-sm-2 -col-gap-md-3 -col-gap-lg-4 -col-gap-xl-5"></div>
  ///
  &.-col-gap {
    @include breakpoint-each() {
      @for $i from 0 through $gap-range {
        &-#{$i} {
          grid-column-gap: map-get($spacing, $i);
        }
      }
    }
  }

  /// @see $gap-range
  /// @see $spacing
  /// @example markup
  ///   <div class="grid -row-gap-1 -row-gap-sm-2 -row-gap-md-3 -row-gap-lg-4 -row-gap-xl-5"></div>
  ///
  &.-row-gap {
    @include breakpoint-each() {
      @for $i from 0 through $gap-range {
        &-#{$i} {
          grid-row-gap: map-get($spacing, $i);
        }
      }
    }
  }

  /// @see $col-range
  /// @see $col-definition
  /// @see $fraction-range
  /// @example markup
  ///   <div class="grid -cols-1 -cols-sm-2 -cols-md-4 -cols-lg-6 -cols-xl-12"></div>
  ///
  &.-cols {
    @include breakpoint-each() {
      @for $i from 1 through $col-range {
        &-#{$i} {
          grid-template-columns: repeat(#{$i}, $col-definition);
        }
      }

      @for $f1 from 1 through $fraction-range {
        @for $f2 from 1 through $fraction-range {
          @if $f1 != $f2 and $f1 + $f2 <= $fraction-range {
            &-#{$f1}-#{$f2} {
              grid-template-columns: [col-start] #{$f1}fr [col-end col-start] #{$f2}fr [col-end];
            }
          }
        }
      }
    }
  }

  /// @see $row-range
  /// @see $row-definition
  /// @example markup
  ///   <div class="grid -rows-1 -row-md-2 -row-xl-3"></div>
  ///
  &.-rows {
    @include breakpoint-each() {
      @for $i from 1 through $row-range {
        &-#{$i} {
          grid-template-rows: repeat(#{$i}, $row-definition);
        }
      }
    }
  }

  /// @see $auto-flow
  /// @example markup
  ///   <div class="grid -flow-column-dense -flow-lg-column"></div>
  ///
  &.-flow {
    @include breakpoint-each() {
      @each $name, $value in $auto-flow {
        &-#{$name} {
          grid-auto-flow: $value;
        }
      }
    }
  }
}
