////
/// Constants. Not ment to be overwritten.
/// Mainly used for Sass logic.
/// @author Jasper Berghoef
////


///
$justify-items: (start, end, center, stretch);

///
$align-items: $justify-items;


///
$justify-content: (
  start,
  end,
  center,
  stretch,
  space-around,
  space-between,
  space-evenly
);

///
$align-content: $justify-content;


///
$auto-flow: (
  row: row,
  column: column,
  row-dense: row dense,
  column-dense: column dense
);


///
$display: (
  none,
  inline,
  inline-block,
  block,
  table,
  table-cell,
  table-row,
  flex,
  inline-flex
);


///
$side: (
  t: top,
  b: bottom,
  l: left,
  r: right
);
