.d {
  @include breakpoint-each() {
    @each $value in $display {
      &--#{$value} {
        display: $value;
      }
    }
  }
}

.j {
  &-items {
    @include breakpoint-each() {
      @each $value in $justify-items {
        &--#{$value} {
          justify-items: $value;
        }
      }
    }
  }

  &-self {
    @include breakpoint-each() {
      @each $value in $justify-items {
        &--#{$value} {
          justify-self: $value;
        }
      }
    }
  }

  &-content {
    @include breakpoint-each() {
      @each $value in $justify-content {
        &--#{$value} {
          justify-content: $value;
        }
      }
    }
  }
}

.a {
  &-items {
    @include breakpoint-each() {
      @each $value in $align-items {
        &--#{$value} {
          align-items: $value;
        }
      }
    }
  }

  &-self {
    @include breakpoint-each() {
      @each $value in $align-items {
        &--#{$value} {
          align-self: $value;
        }
      }
    }
  }

  &-content {
    @include breakpoint-each() {
      @each $value in $align-content {
        &--#{$value} {
          align-content: $value;
        }
      }
    }
  }
}

.m {
  @each $s in (t, b, l, r) {
    &#{$s} {
      @include breakpoint-each() {

        @each $i,
        $value in $spacing {
          &-#{$i} {
            margin-#{map-get($side, $s)}: map-get($spacing, $i);
          }
        }

        &-auto {
          margin-#{map-get($side, $s)}: auto;
        }
      }
    }
  }

  &x {
    @include breakpoint-each() {

      @each $i,
      $value in $spacing {
        &-#{$i} {
          margin-left: map-get($spacing, $i);
          margin-right: map-get($spacing, $i);
        }
      }

      &-auto {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  &y {
    @include breakpoint-each() {

      @each $i,
      $value in $spacing {
        &-#{$i} {
          margin-top: map-get($spacing, $i);
          margin-bottom: map-get($spacing, $i);
        }
      }

      &-auto {
        margin-top: auto;
        margin-bottom: auto;
      }
    }
  }
}


.p {
  @each $s in (t, b, l, r) {
    &#{$s} {
      @include breakpoint-each() {

        @each $i,
        $value in $spacing {
          &-#{$i} {
            padding-#{map-get($side, $s)}: map-get($spacing, $i);
          }
        }
      }
    }
  }

  &x {
    @include breakpoint-each() {

      @each $i,
      $value in $spacing {
        &-#{$i} {
          padding-left: map-get($spacing, $i);
          padding-right: map-get($spacing, $i);
        }
      }
    }
  }

  &y {
    @include breakpoint-each() {

      @each $i,
      $value in $spacing {
        &-#{$i} {
          padding-top: map-get($spacing, $i);
          padding-bottom: map-get($spacing, $i);
        }
      }
    }
  }
}